# Lection 1

### Type of data | List | tupple  | dictionary

In [9]:
int_var = 1                    #integer
flo_var = 1.5                  #float
com_var = 1+2j                 #complex
str_var = "Hola my fren"       #string

##############################   LIST   ######################

In [10]:

list1 =[]
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday"] #list of string
list_int = [1,2,3,4,5]         #list of integer
list_mix = ["Monday",6,"Saturday",9,1]

weekdays.append("Saturday") #add item
weekdays.remove("Saturday") #remove item
print(sorted(weekdays))     #alphabetical order

['Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday']

In [11]:
weekend =["Saturday","Sunday"]
print(weekdays + weekend)   #concatenate 2 lists
weekdays.extend(weekend)    #concatenate and save in the first list
print(weekdays)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [12]:
print(weekdays[0])          #print first element
print(weekdays[-1])         #  "   last    "
print(weekdays[2:5])        #print 3rd to 5th element

weekdays[-1] = "Domingo"    #modify an element
print(weekdays)

Monday
Sunday
['Wednesday', 'Thursday', 'Friday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Domingo']

################################# TUPLE #################################

Like a list but immutable

In [13]:
year_born=("Juan Pablo", 1995)
print(year_born)

('Juan Pablo', 1995)

################################# DICTIONARY  #################################

In [14]:
dict1 = {}
birth_year = {1995:"Juan Pablo",2008:"Sophie",1991:"Ana",1998:"Daniel"}
who = birth_year[1991]        #Check who was born in 1991
print(who)
print(birth_year.keys())      #check all keys (years in this case)
print(birth_year.values())    #Check all values (names)
birth_year[1997] = "Mati"     #Add one element
birth_year[1997] = "Matilda"  #Modify value
print(birth_year)

Ana
dict_keys([1995, 2008, 1991, 1998])
dict_values(['Juan Pablo', 'Sophie', 'Ana', 'Daniel'])
{1995: 'Juan Pablo', 2008: 'Sophie', 1991: 'Ana', 1998: 'Daniel', 1997: 'Matilda'}

### Iteration & Logic operation

In [15]:
a=5
b=6
print(a<b) #Other operators: == , <= , >= , =!

True

############### IF  | ELSE  | ELIF ##############

In [16]:
if a>b:
    print("a is greater")
elif a<b:
    print("b is greater")
else:
    print("they are equal")

b is greater

############### FOR ###############

In [17]:
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday"]
for day in weekdays:     
    print(day)           #print each element of the list

for i, day in enumerate(weekdays):
    print(i,day)         #enumerate each element

Monday
Tuesday
Wednesday
Thursday
Friday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday

############### WHILE ###############

In [18]:
n = 500                  #Fibonacci sequence
a,b = 0,1
while a<n:    
    a,b = b, a+b    
    print(a, end="|")

1|1|2|3|5|8|13|21|34|55|89|144|233|377|610|

In [19]:
##RANGE
for i in range(5,10):
    print(i,end=" ")


##Iterate dict
birth_year = {1995:"Juan Pablo",2008:"Sophie",1991:"Ana",1998:"Daniel"}
for name in birth_year.values():  #or ..year.keys()  
    print(name)

for year,name in birth_year.items():
    print(year,name)

5 6 7 8 9 Juan Pablo
Sophie
Ana
Daniel
1995 Juan Pablo
2008 Sophie
1991 Ana
1998 Daniel

### Functions

In [20]:
def use():     #function doing nothing using "pass"
    pass 

def sum(x,y):
    return x+y
sum(55,112)

167

In [21]:
def fibon(n):
    a,b=0,1
    while a<n:
        print(a,end="|")
        a,b=b,a+b
fibon(1234)

0|1|1|2|3|5|8|13|21|34|55|89|144|233|377|610|987|

### EXERCISE 1
Count number of vowels and consonants of the following text "Kigali is the capital and largest city of Rwanda. It is near the nation's geographic centre in a region of rolling hills, with a series of valleys and ridges joined by steep slopes. The city has been Rwanda's economic, cultural, and transport hub since it became the capital following independence from Belgium in 1962."

#### Answer

In [22]:
def coun(text):
    num_vow = 0
    num_cons= 0
    vowels = ["a","e","i","o","u"]

    for c in text.lower():     #transform all letter into lower case (it makes it easier)
        if c in vowels:
            num_vow = num_vow+1
        elif c>"a" and c<="z":
            num_cons = num_cons+1
    return(num_vow,num_cons)
text1 = "Kigali is the capital and largest city of Rwanda. It is near the nation's geographic centre in a region of rolling hills, with a series of valleys and ridges joined by steep slopes. The city has been Rwanda's economic, cultural, and transport hub since it became the capital following independence from Belgium in 1962"

num_vow, num_cons = coun(text1)
print("Number of vowels: %d" % num_vow)
print("Number of consonants: %d" % num_cons)

Number of vowels: 97
Number of consonants: 157